html, body{
    overscroll-behavior: none;
}

body{
    font-family: 'Rajdhani', sans-serif;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    height: 100%;
}

.boundary{
    padding: 20px;
    max-width: 1000px;
    width: 100vw;
    height: 100%;
}

p, h3, ul, li, h2, h1{
    margin: 0;
    padding: 0;
    color: white;
}

h1{
    font-weight: 600;
}

h2{
    margin-top: 50px;
    margin-bottom: 10px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.382);
}

li{
    text-decoration: none;
    list-style-type: none;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

h3{
    margin-bottom: 5px;
}

#background{
    position: absolute;
    width: 100vw;
    z-index: -1;
    display: block;
    height: 200vh;
}

a{
    color: rgb(127, 156, 218);
}

.batches{
    display: flex;
    flex-direction: row;
    gap: 5px
}

.batch{
    background: rgb(101, 101, 101);
    padding: 1px 4px;
    border-radius: 2px;
    width: fit-content;
    color: rgb(255, 255, 255);
    margin-top: 5px;
    font-size: 12px;
    border: solid 1px rgb(162, 162, 162)
}

.row{
    display: flex;
    flex-direction: row;
    align-items:start;
}

.column{
    display: flex;
    flex-direction: column;
}

ul{
    flex: 1;
}